{% extends "templates/base.twig" %}

{% block topbar %}
	{% include "templates/adminTopbar.twig" %}
{% endblock %}


{% block body %}


	<div class="home">
		<h1>Welcome to Admin Portal</h1>
	</div>


{% endblock %}
