{% extends "templates/base.twig" %}

{% block topbar %}
	{% include "templates/homeTopbar.twig" %}
{% endblock %}


{% block body %}

	<div class="home">
		<h1>Welcome to
			<br>
			Library@SDSLabs</h1>
	</div>


{% endblock %}
