{% block iconbar %}
	{% include "templates/icon.twig" %}
{% endblock %}

{% block navbar %}
	<div class="navbar">
		<ul class="menu">
			<li class="items">
				<a href='/'>HOME</a>
			</li>
			<li class="items">
				<a href='/login'>LOGIN</a>
			</li>
			<li class="items">
				<a href="/register">REGISTER</a>
			</li>
		</ul>
	</div>
{% endblock %}
